.losselectores {
    justify-content: center;
    text-align: center;
    font-size: 2.25vh;
    margin-right: 0.5vw;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.85);
    border: 1px solid white;
    height: 2.25vw;
    font-weight: bold;
  }
  
  .losselectores::placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2vh;
    font-weight: bold;
  }
  
  .losselectores:focus{
    outline: none;
  }
  