.video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.titulo {
    background-color: rgba(100, 100, 100, 0.85);
    border: black solid 3px;
    border-radius: 10px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 20vh;
}

.homebtn {
    background-color: rgba(100, 100, 100, 0.85);
    border: black solid 3px;
    border-radius: 10px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 15vh;
}


.homebtn:hover {
    background-color:#000000a6;
    color: white;   
    cursor: pointer;
}