.name {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin-top: -0.5em;
}

.orden {
  display: flex;
  flex-direction: row;
}

.bandera {
  width: 17vw;
  height: 12vh;
  margin-top: -0.5em;
  border: 2px solid white;
}

.toito {
  border: 2px solid white;
  border-radius: 20px;
  width: 25vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgba(100, 100, 100, 0.85);
}

.toito:hover {
  background-color: rgb(50, 50, 50);
}

.activities {
  display: none;
}
