.barraBusqueda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

.inputBusqueda {
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    margin-right: 0.5vw;
    border-radius: 20px;
    background-color: rgba(175, 175, 175, 0.8);
    border: 1px solid white;
    height: 4vh;
    font-weight: bold;
    /* border: none; */
}

.inputBusqueda::placeholder {
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-weight: bold;
}

.inputBusqueda:focus{
    outline: none;
}

.botonBusqueda {
    border-radius: 20px;
    font-size: 2.25vh;
    justify-content: center;
    align-self: center;
    justify-items: center;
    width: 7vw;
    height: 4.75vh;
    background-color:rgb(75, 75, 75, 0.85);
    color: #ffffff;   
    border: 1px solid white;
    font-weight: bolder;
    margin-right: 0.25rem;
}

.botonBusqueda:hover {
    background-color: rgba(175, 175, 175, 0.8);
    color: black;   
    cursor: pointer;
}

.botonBusqueda:focus{
    outline: none;
}